:root {
  --background: #ffffff;
  --foreground: #000000;
  --app-primary-color: #c02e3b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom CSS */

.color-secondary {
  color: var(--background);
}

.color-primary {
  color: var(--app-primary-color);
}

.app-content {
  min-height: 100vh;
}

.app-header {
  height: 100px;
  background-color: var(--foreground);
  color: var(--background);
  padding: 0 4%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-menus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    .selected-page {
      color: var(--app-primary-color);
    }

    .menu:hover {
      color: var(--app-primary-color);
    }

    .app-bar-button {
      button {
        background-color: var(--app-primary-color);
        color: var(--background);
        height: 46px;
        border-radius: 30px;
        border: none;
        width: 162px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.home-content {
  background-image: url("/images/Slider-bg.png");
  padding: 30px 0 40px 0;
  background-color: #000000;

  .home-content-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sub-text {
      font-size: 18px;
      font-weight: 500;
    }

    .main-text {
      color: var(--background);
      font-size: 68px;
      font-weight: 600;
    }
  }
}

.slider-section {
  /* background-color: #201f1f; */

  .bg-image-position {
    background-image: url("/images/Slider-bg.png");
    background-size: cover;
    background-position: center;

    .main-slider-image {
      /* background-image: url("/images/slider-home.png"); */
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: var(--app-primary-color);
    opacity: 1;
  }
}

.welcome-section {
  background-color: #ffff;
  margin: 100px;

  .welcome-content {
    margin-bottom: 50px;

    .welcome-content-text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sub-text {
        font-size: 18px;
        font-weight: 500;
        margin-left: 15%;
        margin-right: 15%;
        line-height: 1.7;
      }

      .main-text {
        color: var(--foreground);
        font-size: 68px;
        font-weight: 600;
      }
    }
  }

  .image-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .sub-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.7;
    }

    .app-bar-button {
      button {
        background-color: var(--app-primary-color);
        color: var(--background);
        height: 46px;
        border-radius: 30px;
        border: none;
        width: 162px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        margin: 20px 0;
      }
    }
  }
}

/* Common Css Class */

.vertical-line {
  width: 1px;
  height: 28px;
  background-color: #a8a8a8;
}
